@color-btn: #6048c0;
@color-bg: #34323d;
@color-text: #fff;
@font: 'Roboto';

//custom bootstrap styles
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-5 {
    width: 20%;
    float: left;
}
//styles header
header {
    display: flex;
    //justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: @color-bg;
    .logo {
        padding-left: 80px;
        font-family: @font,serif;
        color: @color-text;
        font-size: 40px;
        font-weight: 800;
    }
    .menu {
        display: flex;
        padding-top: 15px;
        li {
            padding: 0 20px;
            list-style: none;
            a {
                font-family: @font ,serif;
                color: rgb(146, 146, 148);
                font-size: 15px;
                text-decoration: none;
                &:hover { color: @color-text;}
            }
        }
    }
    .icons-block {
        position: absolute;
        right: 100px;
        a {
            text-decoration: none;
            
        }
        .fa-search, .fa-user, .fa-shopping-basket {
            color: rgb(146, 146, 148);
            font-size: 20px;
            padding: 0 10px;
            &:hover { color: @color-text; }
        }
    }
}









//styles footer
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: @color-bg;
}
.footer-block {
    .logo {
        padding-top: 20px;
        padding-left: 60px;
        font-family: @font, sans-serif;
        color: @color-text;
        font-size: 40px;
        font-weight: 800;
        &-desc {
            padding-left: 60px;
            font-family: @font, sans-serif;
            color: @color-text;
            font-size: 15px;
            font-weight: 400;
        }
    }
    ul {
        //padding-top: 20px;
        li {   
           list-style-type: none;
           font-family: @font, sans-serif;
           font-size: 15px;
           a {
              font-size: 14px;
              color: grey;
              text-decoration: none;
              &:hover { color: @color-text;}
           }
        }
    }
    .white-list { 
        padding-top: 40px;
        padding-bottom: 10px;
        color: @color-text;
        
    }
    .copyright {
        padding-top: 60px;
        padding-left: 60px;
        font-family: @font, sans-serif;
        color: @color-text;
        font-size: 15px;
        font-weight: 400;
    }
    .icons-block {
        a {
            text-decoration: none;
            font-size: 20px;
            color: @color-text;
        }
    }
}

//media queries
@media (min-width: 768px) {
    .col-sm-5 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5 {
        width: 20%;
        float: left;
    }
}
@media screen and (max-width: 1055px) {
	.footer-block {
        text-align: center;
    }
}